.venv/
venv/
site/
.DS_Store
.texpadtmp
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.glo
*.glg
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.labelTags
*.lof
*.log
*.out
*.pdf
*.run.xml
*.synctex*
*.tdo
*.sta
*.gz
*.toc
*.acn
*.acr
*.alg
*.dvi
*.lot
*.maf
*.mtc
*.mtc1
.fdb_latexmk
!images/*.pdf
!images/*.pdf_tex
images/svg-inkscape/
svg-inkscape/
*/images/svg-inkscape/
out/
/.project
.uuid
*.tlg
*.olg
*.tld
*.old
*.tdn
*.odn
*.pandoc.docx
.idea
*.fdb_latexmk
*.xdy
.venv/
