<!DOCTYPE html>
<html lang="en">
<head>
  <title>EKGF DPROD Ontology</title>
  <meta charset='utf-8'>
  <script src='https://ekgf.github.io/respec/builds/respec-w3c.js' async class='remove'></script>
  <script class='remove'>
    // All config options at https://respec.org/docs/
    var respecConfig = {
      // Working Groups ids at https://respec.org/w3c/groups/
      // group: "Semantic Data Products Working Group",
      latestVersion: "https://ekgf.github.io/dprod/",
      specStatus: "base",
      editors: [
        {
          name: "Tony Seale, Chair",
          url: "https://www.linkedin.com/in/tonyseale/",
        },
        {
          name: "Natasa Varytimou",
          url: "https://www.linkedin.com/in/natasavaritimou/",
        },
        {
          name: "Pete Rivett",
          url: "https://www.linkedin.com/in/peterivett/",
        },
        {
          name: "Marcel Fröhlich",
          url: "https://www.linkedin.com/in/marcel-fr%C3%B6hlich-648a043/",
        },
      ],
      authors: [
        {
          name: "Andrea Gioia",
          url: "https://www.linkedin.com/in/andreagioia/",
        },
        {
          name: "Jacobus Geluk, Initiator",
          url: "https://www.linkedin.com/in/jgeluk/",
        },
        {
          name: "Ben Whittam Smith, Ontologist",
          url: "https://www.linkedin.com/in/benedictws/",
        },
        {
          name: "Steve Fisher",
          url: "https://www.linkedin.com/in/steve-fisher-b9463a3/",
        },
        {
          name: "Oli Bage, EDM Council CDMC representative",
          url: "https://www.linkedin.com/in/olibage/",
        },
        {
          name: "Ben Clinch, EDM Council CDMC representative",
          url: "https://www.linkedin.com/in/benclinch/",
        },
        {
          name: "Carl Mattocks",
          url: "https://www.linkedin.com/in/carlmattocks/",
        },
        {
          name: "Carlos Tubbax",
          url: "https://www.linkedin.com/in/carlos-tubbax-975058118/",
        },
        {
          name: "Charles Ivie",
          url: "https://www.linkedin.com/in/charlesivie/",
        },
        {
          name: "Mike Bennett, OMG Technical Director & Ontologist",
          url: "https://www.linkedin.com/in/mikehypercube/",
        },
      ],
      github: {
        branch: "main",
        repoURL: "https://github.com/EKGF/dprod",
      },
      license: "mit",
      logos: [{
        src: "./dprod.jpg",
        alt: "DPROD",
        width: 200,
      }],
      maxTocLevel: 3,
      otherLinks: [
        {
          key: "Download as RDF:",
          data: [
            {
              value: "JSON-LD 1.1",
              href: "https://ekgf.github.io/dprod/dprod.jsonld",
            },
            {
              value: "Turtle",
              href: "https://ekgf.github.io/dprod/dprod.ttl",
            },
            {
              value: "RDF/XML",
              href: "https://ekgf.github.io/dprod/dprod.rdf",
            },
          ],
        },
      ],
    };
  </script>
  <style>
    .preamble-section {
      margin: 0 auto;
      max-width: 800px;
      text-align: justify;
    }

    .preamble-section p {
      margin: 0 0 1em 0;
      color: gray;
    }

    .preamble-section .section-title {
      padding-bottom: 1em;
      text-align: center;
    }

    .preamble-section a:link {
      color: gray;
      text-decoration: none;
    }

    .preamble-section a:visited {
      color: gray;
    }

    .preamble-section a:hover {
      color: gray;
      text-decoration: underline;
    }

    .preamble-section ol {
      color: gray;
      counter-reset: item;
      list-style-type: none;
      padding-left: 0;
    }

    .preamble-section ol li {
      counter-increment: item;
      margin-bottom: 2px;
      padding-left: 50px; /* Adjust this value to set the indentation */
      text-indent: -50px; /* Match this value with the padding-left */
    }

    .preamble-section ol li::before {
      content: "(" counter(item) ")";
      padding-right: 15px; /* Adjust to control space between number and text */
      display: inline-block;
      width: 30px; /* Adjust this value based on your padding-left */
      text-align: right;
    }
    
    ul.blue-balls {
      list-style-type: none; /* Remove default bullets */
      padding-left: 0; /* Remove default padding */
    }

    ul.blue-balls li {
      position: relative; /* Allows for positioning the bullet */
      padding-left: 30px; /* Creates space for the bullet */
      margin-bottom: 10px; /* Spacing between list items */
    }

    ul.blue-balls li::before {
      content: "🔵"; /* Inserts the blue circle as the bullet */
      position: absolute; /* Position it to the left of the text */
      left: 0; /* Aligns the bullet to the left */
      top: 0.5em; /* Aligns the bullet vertically with the text */
      font-size: 0.6em; /* Adjust the size of the bullet */
    }
  </style>
</head>
<body>
<details id="copyright" class="copyright preamble-section">
  <summary>Preamble</summary>
  <p>
  Copyright © 2024, <a href="https://www.lseg.com/en">London Stock Exchange Group plc</a><br/>
  Copyright © 2024, <a href="https://federatedknowledge.com/">Federated Knowledge, LLC</a><br/>
  Copyright © 2024, <a href="https://agnos.ai">agnos.ai UK Ltd.</a><br/>
  Copyright © 2024, <a href="https://www.quantyca.it/en/home-en/">Quantyca S.p.A.</a><br/>
  Copyright © 2024, <a href="https://eccenca.com">eccenca GmbH</a><br/>
  Copyright © 2024, <a href="https://www.omg.org/communities/enterprise-knowledge-graph-forum.htm">Object Management
  Group, Inc.</a>
  </p>
  <br/>
  <div>
    <p class="section-title">USE OF SPECIFICATION – TERMS, CONDITIONS & NOTICES</p>
    <p>
      The material in this document details an Object Management Group specification in accordance with the terms,
      conditions and notices set forth below.
      This document does not represent a commitment to implement any portion of this specification in any
      company's products.
      The information contained in this document is subject to change without notice.
    </p>
  </div>
  <div>
    <p class="section-title">LICENSES</p>
    <p>
      Contributions to this specification are made under the terms of the Contributor License Agreement given
      at <a href="https://cla-assistant.io/EKGF/dprod">https://cla-assistant.io/EKGF/dprod</a>.
      Each of the copyright holders listed above has agreed that no person shall be deemed to have infringed the
      copyright in the included material of any such copyright holder by reason of having used the specification
      set forth herein or having conformed any computer software to the specification.
    </p>
    <p>
      Subject to all of the terms and conditions below, the owners of the copyright in this specification
      hereby grant you a fully-paid up, non-exclusive, nontransferable, perpetual, worldwide license (without the
      right to sublicense), to use this specification to create and distribute software and special purpose
      specifications that are based upon this specification, and to use, copy, and distribute this specification
      as provided under the Copyright Act; provided that:
      <ol>
        <li>
          both the copyright notice identified above and this permission notice appear on any copies of 
          this specification;
        </li>
        <li>
          the use of the specifications is for informational purposes and will not be copied or posted on any network
          computer or broadcast in any media and will not be otherwise resold or transferred for commercial purposes;
          and
        </li>
        <li>
          no modifications are made to this specification.
        </li>
      </ol>
    </p>
    <p>
      This limited permission automatically terminates without notice if you breach any of these terms or conditions.
      Upon termination, you will destroy immediately any copies of the specifications in your possession or control.
    </p>
  </div>
  <div>
    <p class="section-title">PATENTS</p>
    <p>
      The attention of adopters is directed to the possibility that compliance with or adoption of OMG specifications
      may require use of an invention covered by patent rights.
      OMG shall not be responsible for identifying patents for which a license may be required by any OMG specification,
      or for conducting legal inquiries into the legal validity or scope of those patents that are brought to its
      attention.
      OMG specifications are prospective and advisory only. Prospective users are responsible for protecting themselves
      against liability for infringement of patents.
    </p>
  </div>
  <div>
    <p class="section-title">GENERAL USE RESTRICTIONS</p>
    <p>
      Any unauthorized use of this specification may violate copyright laws, trademark laws, and communications
      regulations and statutes.
      This document contains information which is protected by copyright.
      All Rights Reserved.
      No part of this work covered by copyright herein may be reproduced or used in any form or by any means--graphic,
      electronic, or mechanical, including photocopying, recording, taping, or information storage and
      retrieval systems--without permission of the copyright owner.
    </p>
  </div>
  <div>
    <p class="section-title">DISCLAIMER OF WARRANTY</p>
    <p>
      WHILE THIS PUBLICATION IS BELIEVED TO BE ACCURATE, IT IS PROVIDED "AS IS" AND MAY CONTAIN ERRORS OR MISPRINTS.
      THE OBJECT MANAGEMENT GROUP AND THE COMPANIES LISTED ABOVE MAKE NO WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
      WITH REGARD TO THIS PUBLICATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTY OF TITLE OR OWNERSHIP,
      IMPLIED WARRANTY OF MERCHANTABILITY OR WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE OR USE.
      IN NO EVENT SHALL THE OBJECT MANAGEMENT GROUP OR ANY OF THE COMPANIES LISTED ABOVE BE LIABLE FOR ERRORS
      CONTAINED HEREIN OR FOR DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, RELIANCE OR COVER DAMAGES,
      INCLUDING LOSS OF PROFITS, REVENUE, DATA OR USE, INCURRED BY ANY USER OR ANY THIRD PARTY IN CONNECTION WITH THE
      FURNISHING, PERFORMANCE, OR USE OF THIS MATERIAL, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    </p>
    <p>
      The entire risk as to the quality and performance of software developed using this specification is borne by you.
      This disclaimer of warranty constitutes an essential part of the license granted to you to use this specification.
    </p>
  </div>
  <div>
    <p class="section-title">RESTRICTED RIGHTS LEGEND</p>
    <p>
      Use, duplication or disclosure by the U.S. Government is subject to the restrictions set forth in subparagraph
      (c) (1) (ii) of The Rights in Technical Data and Computer Software Clause at DFARS 252.227-7013 or in
      subparagraph (c)(1) and (2) of the Commercial Computer Software - Restricted Rights clauses at 48 C.F.R. 52.227-19
      or as specified in 48 C.F.R. 227-7202-2 of the DoD F.A.R. Supplement and its successors,
      or as specified in 48 C.F.R. 12.212 of the Federal Acquisition Regulations and its successors, as applicable.
      The specification copyright owners are as indicated above and may be contacted through the
      Object Management Group, 9C Medway Rd, PMB 274, Milford, MA 01757, U.S.A.
    </p>
  </div>
  <div>
    <p class="section-title">TRADEMARKS</p>
    <p>
      CORBA®, CORBA logos®, FIBO®, Financial Industry Business Ontology®, FINANCIAL INSTRUMENT GLOBAL IDENTIFIER®,
      IIOP®, IMM®, Model Driven Architecture®, MDA®, Object Management Group®, OMG®, OMG Logo®, SoaML®, SOAML®, SysML®,
      UAF®, Unified Modeling Language®, UML®, UML Cube Logo®, VSIPL®, and XMI® are registered trademarks of the
      Object Management Group, Inc.
    </p>
    <p>
      For a complete list of trademarks, 
      see: <a href="https://www.omg.org/legal/tm_list.htm.">https://www.omg.org/legal/tm_list.htm</a>.
      All other products or company names mentioned are used for identification purposes only and may be
      trademarks of their respective owners.
    </p>
  </div>
  <div>
    <p class="section-title">COMPLIANCE</p>
    <p>
      The copyright holders listed above acknowledge that the Object Management Group (acting itself or through its
      designees) is and shall at all times be the sole entity that may authorize developers, suppliers and sellers of
      computer software to use certification marks, trademarks or other special designations to indicate compliance
      with these materials.
      Software developed under the terms of this license may claim compliance or conformance with this specification
      if and only if the software compliance is of a nature fully matching the applicable compliance points as stated
      in the specification.
      Software developed only partially matching the applicable compliance points may claim only that the software
      was based on this specification but may not claim compliance or conformance with this specification.
      In the event that testing suites are implemented or approved by Object Management Group, Inc.,
      software developed using this specification may claim compliance or conformance with the specification only
      if the software satisfactorily completes the testing suites.
    <p>
  </div>
  </details>
<!--</div>-->
<h1 id="title">Data Product Vocabulary (DPROD)</h1>

<section id='abstract'>
  <p>
  The concept of Data Products has emerged as organizations increasingly recognize
  the value of data as an asset to be managed and distributed like any other product. 
  As more companies adopt decentralized data architectures, such as Data Mesh,
  the need for standardized methods to describe and manage data products consistently 
  across platforms has become critical. 
  This is where the DPROD specification, built on W3C Linked Data standards, becomes essential. 
  Without such a standard, organizations face significant challenges: 
  inconsistent metadata across diverse data products, limited discoverability, 
  and interoperability issues that hinder data integration from various sources. 
  As data ecosystems grow, the lack of a common framework also impedes scalability, 
  increases vendor lock-in, and makes it difficult to manage these products effectively.
  </p>
  <p>
  DPROD offers a solution by providing a clear schema for describing data products, 
  ensuring they are discoverable, interoperable, and treated with the same level of 
  accountability as traditional products.
  </p>
  <p>
  The W3C tech stack is perfectly suited to address these challenges because it was 
  designed to foster interconnected, decentralized systems, providing a robust framework 
  for creating metadata that is both machine-readable and human-understandable. 
  DPROD enables consistent terminology across different platforms, domains, and organizations, 
  allowing advanced users to semantically enrich their data products and connect 
  them into distributed knowledge graphs.
  </p>
  <p>
  As more organizations strive to build and scale data products, 
  DPROD provides the standardization needed to ensure interoperability and unlock 
  the full potential of decentralized data ecosystems in a controlled and mature way.
  </p>

</section>

<section>
  <h2>Scope</h2>
  <p>
    The <a href="https://ekgf.github.io/dprod/dprod.ttl">Data Product (DPROD)</a> specification is a
    profile of the <a href="https://www.w3.org/TR/vocab-dcat-3/">Data Catalog (DCAT) Vocabulary</a>,
    designed to describe Data Products.
    This document defines the schema and provides examples for its use.
  </p>
  <p>
    DPROD extends DCAT to enable publishers to describe Data Products and data services in a decentralized way.
    By using a standard model and vocabulary, DPROD facilitates the consumption and aggregation of metadata
    from multiple Data Marketplaces.
    This approach increases the discoverability of products and services, supports decentralized data publishing,
    and enables federated search across multiple sites using a uniform query mechanism and structure.
  </p>
  <p>
    The namespace for DPROD terms is <a href="https://ekgf.github.io/dprod/#">https://ekgf.github.io/dprod/#</a>
  </p>
  <p>
    The suggested prefix for the DPROD namespace is <strong><code>dprod</code></strong>
  </p>

  <p><strong>DPROD follows two basic principles:</strong></p>
  <ul class="blue-balls">
    <li>
      Decentralize Data Ownership: To make data integration more efficient, tasks should be shared among multiple
      teams. DCAT helps by offering a standard way to publish datasets in a decentralized manner.
    </li>
    <li>
      Harmonize Data Schemas: Using shared schemas helps unify different data formats.
      For instance, the <a href="https://ekgf.github.io/dprod/dprod.ttl">DPROD</a> specification provides a
      common set of rules for defining a <a href="#dataproduct">Data Product</a>.
      You can extend this schema as needed.
    </li>
  </ul>

  The DPROD specification builds on DCAT by connecting
  <a href="https://www.w3.org/TR/vocab-dcat-3/#Class:Data_Service">DCAT Data Services</a> to
  DPROD <a href="#dataproduct">Data Products</a> using <a href="#inputport">Input</a> and
  <a href="#outputport">output</a> ports.
  These ports are used to publish and consume data from a Data Product.
  DPROD treats ports as <a href="https://www.w3.org/TR/vocab-dcat-3/#Class:Data_Service">dcat data services</a>,
  so the data exchanged can be described using DCAT's highly expressive metadata around
  <a href="https://www.w3.org/TR/vocab-dcat-3/#Class:Distribution">distributions</a> and
  <a href="https://www.w3.org/TR/vocab-dcat-3/#Class:Dataset">datasets</a>.
  This approach also allows you to create your own descriptions for the data you are sharing.
  You can use a special property called
  <a href="https://www.w3.org/TR/vocab-dcat-3/#Property:resource_conforms_to">conformsTo</a> from DCAT to link to
  your own set of rules or guidelines for your data.

  <p><strong>The DPROD specification has four main aims:</strong></p>
  <ul class="blue-balls">
    <li>
      To provide unambiguous and sharable semantics to answer the question: 'What is a <a href="#dataproduct">data
      product</a>?'
    </li>
    <li>
      Be simple for anyone to use, but expressive enough to power large data marketplaces
    </li>
    <li>
      Allow organisations to reuse their existing data catalogues and dataset infrastructure
    </li>
    <li>
      To share common semantics across different Data Products and promote harmonization
    </li>
  </ul>

</section>

<section id='conformance' class="override">
  <h2>Conformance</h2>

  <p>
    A data product is conformant with this specification if it satisfies the SHACL constraints provided in the file
    <a href="dprod-dcatprofile.ttl">dprod-dcatprofile.ttl</a>.
  </p>
</section>

<section>
  <h2>Terms and Definitions</h2>
  <p>
    All terms introduced in this specification are given definitions in Chapter 5.
  </p>
</section>

<section>
  <h2>Normative namespaces</h2>
  <p>Namespaces and prefixes used in normative parts of this Profile are shown in the following table.</p>

  <table id="table-namespaces" class="simple">
    <thead>
    <tr>
      <th>Prefix</th>
      <th>Namespace IRI</th>
      <th>Source</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>dcat</code>
      </td>
      <td>
        <code>http://www.w3.org/ns/dcat#</code>
      </td>
      <td>[[VOCAB-DCAT-3]]</td>
    </tr>
    <tr>
      <td>
        <code>dct</code>
      </td>
      <td>
        <code>http://purl.org/dc/terms/</code>
      </td>
      <td>[[DCTERMS]]</td>
    </tr>
    <tr>
      <td>
        <code>odrl</code>
      </td>
      <td>
        <code>http://www.w3.org/ns/odrl/2/</code>
      </td>
      <td>[[ODRL-VOCAB]]</td>
    </tr>
    <tr>
      <td>
        <code>sdo</code>
      </td>
      <td>
        <code>https://schema.org</code>
      </td>
      <td>[[SCHEMA-ORG]]</td>
    </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Data Product (DPROD) Model</h2>
  <p>
    <a href="https://en.wikipedia.org/wiki/Data_mesh">Data Mesh Architectures</a> use input and output ports to manage
    how data enters and leaves a Data Product. These ports can handle different formats, schemas, and protocols. Input
    ports bring in data, while output ports send data to other Data Products for aggregation, reuse, analysis or
    reporting etc.
  </p>
  <p>
    In the Data Catalog Vocabulary (DCAT) framework, 
    a <a href="https://www.w3.org/TR/vocab-dcat-3/#Class:DataService">Data Service</a> is a way 
    to describe services that provide access to data. 
    Data Services give standardized, machine-readable descriptions of how to access one or more 
    datasets or data processing functions.
  </p>
  <p>
    Data Services specify how to access and download the data. In DPROD Data Services are connected to <a
    href="https://www.w3.org/TR/vocab-dcat-3/#Class:Distribution">Distributions</a> by a property called <a
    href="#isaccessserviceof">isAccessServiceOf</a>, on the Distribution you can specify formats (like CSV or JSON etc)
    and provide metadata about the "physical model" of the data. Distributions link to <a
    href="https://www.w3.org/TR/vocab-dcat-3/#Class:Dataset">Datasets</a> and DCAT has a very rich vocabulary for
    describing every aspect of your dataset. Finally, Datasets use the <a
    href="https://www.w3.org/TR/vocab-dcat-3/#Property:resource_conforms_to">conformsTo</a> property to link to the
    "logical model" where you can specify rich semantic metadata of your own.
  </p>
  <p>
    By linking Data Product ports to DCAT DataServices, DPROD can describe Data Products in a way that machines can read
    across the organization. This makes it easier for data teams to build and manage their own data products
    independently, while still working well with the rest of the organization's data.
  </p>
  <p>
    Using standards like DCAT helps create a strong and clear way to define Data Products. It ensures that as data
    becomes more complex, the methods for describing, sharing, and using data stay consistent and reliable. It also
    allows different organizations to share data securely and in a standardized way.
  </p>
  <figure id="ProfileModel">
    <img alt="Information model for the Profile" src="./dprod-model.png">
    <figcaption>
      Overview of DPROD model and its relationship with DCAT classes
    </figcaption>
  </figure>

  <p>
    The Profile consists of the following classes:
    <ul>
      <li>
        Data Mesh (<code>dcat:Catalog</code>) - The collection of Data Products
      </li>
      <li>
        Data Product (<code>dprod:DataProduct</code>) - A data product may have input and output ports, code and
        metadata
      </li>
      <li>
        Port (<code>dcat:DataService</code>) - A digital interface that provides access to a Dataset. The can be a HTTP
        URL, a Database or a FileShare etc
      </li>
      <li>
        Distribution (<code>dcat:Distribution</code>) - A specific representation of a dataset (CSV, JSON, ADLS etc)
        which can conform to a physical model
      </li>
      <li>
        Dataset (<code>dcat:Dataset</code>) - A collection of related data that can conform to a logical model
      </li>
    </ul>
  </p>
  <p>
    As <a href="https://www.w3.org/TR/vocab-dcat-3/#Class:Data_Service">DCAT Data Services</a>, the DPROD <a
    href="#inputport">input</a> and <a href="#outputport">output</a> ports can specify connection details, they have <a
    href="https://www.w3.org/TR/vocab-dcat-3/#Class:Distribution">distributions</a> that define formats, and link to <a
    href="https://www.w3.org/TR/vocab-dcat-3/#Class:Dataset">datasets</a> that conform to shared schemas. In this
    example,
    the UK Bonds Data Product includes an output port, which is a RESTful API. This API delivers JSON data conforming to
    the shared FIBO specification for callable bonds.
  </p>

  <pre id="eg12" class="example hljs json">
  {
    "@context": "https://ekgf.github.io/dprod/dprod.jsonld",
    "id": "https://y.com/products/uk-bonds",
    "type": "DataProduct",
    "title": "UK Bonds",
    "description": "UK Bonds is your one-stop-shop for all your bonds!",
    "dataProductOwner": "https://www.linkedin.com/in/tonyseale/",
    "lifecycleStatus" : "https://ekgf.github.io/dprod/data/lifecycle-status/Consume",
    "outputPort": {
      "type": "DataService",
      "endpointURL": "https://y.com/uk-10-year-bonds",
      "isAccessServiceOf": {
        "type": "Distribution",
        "format": "https://www.iana.org/assignments/media-types/application/json",
        "isDistributionOf": {
          "type": "Dataset",
          "id": "https://y.com/products/uk-bonds/datasets/10-year",
          "conformsTo": "https://spec.edmcouncil.org/fibo/ontology/SEC/Debt/Bonds/CallableBond"
        }
      }
     }
  }
  </pre>
  <p class="note">
    The examples in map the type of the above classes to <code>@type</code> in the JSON-LD serializations.
    You can use JSON-LD to extend the familiar JSON syntax with the shared semantics defined by DCAT and DPROD.
    <br/>
    You can copy the json above and paste it into <a
    href="https://json-ld.org/playground/">https://json-ld.org/playground</a>.
    You can see that the schema resolves.
  </p>

  {% for cls in classes %}
    <section>
      <h3>{{cls.name}}</h3>
      {{cls.description}}
      {% for prop in cls.properties %}
      <section>
        <h4>{{prop.name}}</h4>
        <p>{{prop.description}}</p>
        <p>
          <table class="def propdef">
          <tbody>
            <tr><th>Identifier:</th><td><a href="{{prop.uri}}">{{prop.short_uri}}</a></td></tr>
            {% if prop.label is not none and prop.label  != '' %}   
            <tr><th>Label:</th><td>{{prop.label}}</td></tr>
            {% endif %}
            {% if prop.comment is not none and prop.comment  != '' %}   
            <tr><th>Comment:</th><td>{{prop.comment}}</td></tr>
            {% endif %}
            <tr><th>Domain:</th><td><a href="{{prop.domain}}">{{prop.domain_short}}</a></td></tr>
            <tr><th>Range:</th><td><a href="{{prop.range}}">{{prop.range_short}}</a></td></tr>
          </tbody>
          </table>
        </p>
      </section>
    {% endfor %}
    </section>
  {% endfor %}

</section>


<section class="Examples">
  <h2>Worked Examples</h2>
  <p>Here are some worked examples of how to use DPROD for some common use cases</p>

  {% for example in examples %}
  <section>
    <h3>{{example.name}}</h3>
    <p>{{example.text}}</p>
    <pre class="hljs json">{{example.json}}</pre>
  </section>
  {% endfor %}
</section>

<section class="appendix">
  <h2>Acknowledgements</h2>
  <p>
    The editors gratefully acknowledge the feedback and
    contributions made by the <a href="https://edmcouncil.org/frameworks/cdmc/">EDM Council's CDMC team</a>.
  </p>
</section>

</body>
</html>
